# Python caches
__pycache__/
*.pyc

# Local Workspaces & Secrets
Workspace/credentials.json
Workspace/settings.json
Workspace/error_log.txt
Workspace/.backup
Workspace/*.xlsx
Workspace/*.md

# Local Settings
Data/config.ini

# Temp Scripts
patch_*.py